:root{
    --primaryC: #247F70;
    --ligthBgColor: #D8eee7;
}
*{
    font-family: Poppins;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e7e7e7;
}
.bg-green{
    background: var(--primaryC) !important;
}
.content{
    display: flex;
    justify-content: center;
    height: 80%;
    width: 80%;
    background-image: url('../image/photo_2025-02-05_17-42-30.jpg') !important;
    background-size: cover;
    box-shadow: 2px 10px 50px rgba(71, 71, 71, 0.783);
    border-radius: 40px;
}
.text-green{
    color: var(--primaryC) !important;
}

.welcome{
    width:40% ;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.form{
    width: 60%;
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background: var(--primaryC);
    display: flex;
    flex-direction: column !important;
}
.header{
    font-size: 50px;
}
.data-form{
    padding: 50px;
}
.botones{
    position: absolute;
    bottom: 0;

}
.inps{
    color: #e7e7e7;
    background: transparent;
    border: 2px solid #e7e7e7;
    outline: none;
    border-radius: 20px;
}
.inps::placeholder{
    color: #dcd0d0;
}
.btns{
    all: unset;
    font-size: 25px;
    background: #fff;
    padding: 10px;
    padding-inline: 30px;
    border-radius: 20px;
    transition: 0.6s all;
    transform: translateY(0px);
    scale: 1;

}
.btns:hover{
    transform: translateY(-5px);
    scale: 1.05;
}
#aceptarbtn{
    background: linear-gradient(to right, #A5E4B9,#D4F2C0);
    color: var(--primaryC);
    font-weight: bold;
}
#aceptarbtn:hover{
    box-shadow: 1px 7px 4px #2ea390 ;
}
#cancelarbtn{
    color: #e7e7e7;
    background: transparent;
    border: 2px solid #e7e7e7;
}
#cancelarbtn:hover{
    box-shadow: 1px 6px 4px #D4F2C0;
}
.clinic{
    max-width: 500px;
    text-align: center;
    font-size: 50px;
    color: transparent;
    background: linear-gradient(to bottom, #13575A,#22968B,#D4F2C0);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(1px 1px 3px gray);
}
@media (max-width: 500px) {
    .welcome{
        display: none;
    }
    .form{
        width: 100%;
        border-radius: 40px;
    }
}