
:root{
    --primaryC: #247F70;
    --ligthBgColor: #D8eee7;

}
.bg-green{
    background: var(--primaryC) !important;
}

table{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.blur-circle{
    width: 700px;
    height: 700px;
    background: var(--primaryC);
    opacity: 0.5;
    border-radius: 50%;
    filter: blur(50px);
    position: absolute;
    right: 0;
}
th{
    padding: 10px; 
    color: rgb(255, 255, 255,0.7);
    border-bottom: 1px solid #ccc;
}
td{
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;
    padding: 10px;
}